.messages {
    height: 10vh;
    overflow-y: auto;
    overflow-x: hidden !important;
    flex: auto;
   

}
@media(min-width: 992px) {
    .messages {
        height: 35vh;
    }
}

.messages button {
    background-color: white !important;
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.messages button:focus {
    outline: none !important;
}