.modal, .modal-dialog, .modal-content {
    background-color: black !important;
}

h2, h3 {
    font-family: 'Gochi Hand', cursive !important;
}

.close {
    color: white !important;
}

.close:hover {
    color: lightgray !important;
}