.modal, .modal-dialog, .modal-content {
    background-color: black !important;
}

h5, h6 {
    font-family: 'Gochi Hand', cursive !important;
    font-size: large;
}

.close {
    color: white !important;
}

.close:hover {
    color: lightgray !important;
}