.correct {
    border-image-source: linear-gradient(to right, darkgreen, green, lightgreen, green, darkgreen) !important;
}

#canvas {
    width: 100%;
    height: 50vh;
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    padding: 0;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

#canvas::selection {
    background-color: transparent;
}

#canvas::moz-selection {
    background-color: transparent;
}

#canvas::webkit-selection {
    background-color: transparent;
}

.noTouch {
    touch-action: none;
}

