@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
.outerContainer {
  background-color: black;
}

.header {
  color: white;
}

.mainHeader {
  color: white;
  font-family: 'Gochi Hand', cursive;
}
.appName {
  font-size: 75px;
  margin: 15px;
}
.line {
  border-bottom: 5px solid;
  border-image-slice: 0 0 1 0;
  border-image-source: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}


.info {
  color: lightblue;
}


  